.content {
    position: relative;
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 90px auto 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}






