.bottombar {
    width: 100%;
    background: hsl(270, 3%, 11%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 100px 40px 100px;
}

.bottombar .foot_logopages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_logo_part {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    pointer-events: none;
}

.bottombar .foot_logopages .foot_logo_part .foot_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--black);
    /* background: linear-gradient(225deg, hsl(37, 97%, 70%) 0%, hsl(5, 77%, 71%) 100%); */
    margin-right: 10px;
}

.bottombar .foot_logopages .foot_logo_part .foot_text {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    pointer-events: none;
}

.bottombar .foot_logopages .foot_pages {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_pages ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.bottombar .foot_logopages .foot_pages ul li {
    width: 30%;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar .foot_logopages .foot_pages ul li a {
    text-decoration: none;
    color: lightgrey;
    width: 100%;
    height: 100%;
    padding: 27px 0;
    text-align: right;
}

.bottombar .foot_logopages .foot_pages ul li a:hover {
    color: var(--peach);
}

.bottombar .foot_infos {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.bottombar .foot_infos .infos_text {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgrey;
}

.bottombar .foot_infos .infos_text .infos_office {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bottombar .foot_infos .infos_text .infos_office .infos_office_location,
.bottombar .foot_infos .infos_text .infos_office .infos_office_town,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_number,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_mail {
    font-size: 14px;
}

.bottombar .foot_infos .infos_text .infos_office .infos_office_title,
.bottombar .foot_infos .infos_text .infos_contact .infos_contact_title {
    font-size: 16px;
    font-weight: 500;
}

.bottombar .foot_infos .infos_text .infos_contact {
    width: 50%;
}

.bottombar .foot_infos .infos_logos {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--brand-color);
}

.bottombar .foot_infos .infos_logos div {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    color: var(--white);
    margin-bottom: 40px;
}