.publication__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.publication__container--card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.publication__container--view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.publication__container--view__date {
    margin-top: 30px;
}

.publication__container--view__theme{
    font-size: 3rem;
    margin-right: 10px;
}

.publication__container--view__abstract,
.publication__container--view__affiliations,
.publication__container--view__similar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.publication__container--view__abstract--title,
.publication__container--view__affiliations--title,
.publication__container--view__similar--title {
    font-size: 2rem;
    padding: 20px 20px;
    width: 100%;
}

.publication__container--view__affiliations--content {
    width: 100%;
    text-align: left;
    border-left: 3px solid;
    padding: 10px 30px;
}

.publication__container--view__affiliations--content p {
    padding: 3px 8px;
}

.publication__container--view__abstract--text {
    padding: 0px 30px;
    text-align: justify;
    width: 100%;
    border-left: 3px solid;
}

.publication__container--control {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.publication__container--control__card--title {
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    margin: 12px 0px 7px 0px;
}

.publication__container--control__card--content button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--brand-color);
    border: none;
    outline: none;
    color: var(--white);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
}

.publication__container--control__card--content button div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
}

.publication__container--view__similar--content {
    border-left: 3px solid;
    width: 100%;
}

.publication__container--view__similar--content__empty {
    padding: 10px 30px;
    width: 100%;
    /* text-transform: uppercase; */
    color: var(--red);
}


.publication__container--view__similar--content .recent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 25px;
    padding: 0px 30px;
}

.publication__container--view__similar--content .recent .recent__specs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.publication__container--view__similar--content .recent .recent__specs .recent__specs--theme {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 10px;
}

.publication__container--view__similar--content .recent .recent__specs .recent__specs--theme:hover {
    text-decoration: underline;
}

.publication__container--view__similar--content .recent .recent__specs .recent__specs--pdf {
    font-size: 14px;
    text-decoration: none;
    margin-right: 10px;
}

.publication__container--view__similar--content .recent .recent__specs .recent__specs--pdf:hover {
    text-decoration: underline;
}

.publication__container--view__similar--content .recent .recent__authors {
    display: flex;
    align-items: center;
    justify-content: center;
}

.publication__container--view__similar--content .recent .recent__authors .recent__authors--author {
    margin-right: 10px;
    text-decoration: none;
}

.publication__container--view__similar--content .recent .recent__authors .recent__authors--author:hover {
    text-decoration: underline;
}

.publication__container--view__similar--content .recent .recent__description {
    padding: 15px 30px;
    text-align: justify;
    color: var(--dark-grayish-blue);
}

.publication__container--control__card--content__discussion {
    color: var(--black);
    margin-bottom: 8px;
}

.publication__container--control__card--content__discussion .user {
    color: var(--black);
    text-decoration: none;
    font-weight: 700;
}

.publication__container--control__card--content__discussion .user:hover {
    text-decoration: underline;
}




/* Modal for discussion creation */
/*************************************************************************************************************/

.modal__discussion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__discussion .modal__discussion--modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40%;
    background: var(--white);
    height: auto;
    border-radius: 5px;
    padding: 15px;
}

.modal__discussion.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal__discussion--modal__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.modal__discussion--modal__header--title {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}

.modal__discussion--modal__form {
    width: 100%;
    position: relative;
}

.modal__discussion--modal__form .form__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.modal__discussion--modal__form .form__group label {
    text-align: left;
    width: 100%;
    font-size: 13px;
}

.modal__discussion--modal__form .form__group input,
.modal__discussion--modal__form .form__group textarea {
    width: 100%;
    font-size: 14px;
}

.modal__discussion--modal__btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.modal__discussion--modal__btns .create {
    background: var(--brand-color);
    color: var(--white);
    border: none;
    outline: none;
    padding: 5px 8px;
    border-radius: 888px;
    width: 47%;
}

.modal__discussion--modal__btns .cancel {
    background: grey;
    color: var(--white);
    border: none;
    outline: none;
    padding: 5px 8px;
    border-radius: 888px;
    width: 47%;
}




